:root {
  --dce-border-w: 0.0625rem;

  --dce-space-1: 0.0625rem;
  --dce-space-2: 0.125rem;
  --dce-space-3: 0.1875rem;
  --dce-space-4: 0.25rem;
  --dce-space-5: 0.3125rem;
  --dce-space-6: 0.375rem;
  --dce-space-8: 0.5rem;
  --dce-space-10: 0.625rem;
  --dce-space-11: 0.6875rem;
  --dce-space-12: 0.75rem;
  --dce-space-14: 0.875rem;
  --dce-space-16: 1rem;
  --dce-space-18: 1.125rem;
  --dce-space-20: 1.25rem;
  --dce-space-22: 1.375rem;
  --dce-space-24: 1.5rem;
  --dce-space-28: 1.75rem;
  --dce-space-32: 2rem;
  --dce-space-40: 2.5rem;
  --dce-space-44: 2.75rem;
  --dce-space-56: 3.5rem;
  --dce-space-60: 3.75rem;
  --dce-space-72: 4.5rem;

  --dce-font-11: 0.6875rem;
  --dce-font-12: 0.75rem;
  --dce-font-13: 0.8125rem;
  --dce-font-14: 0.875rem;
  --dce-font-18: 1.125rem;
  --dce-font-22: 1.375rem;
  --dce-font-28: 1.75rem;
  --dce-font-32: 2rem;

  --dce-sidebar-width: 18.75rem;
}
